<!-- <div>
  <h2>{{title}}</h2>
  <div>
    <button mat-raised-button color="primary">Getting stated</button>
  </div>
</div> -->

<!-- nav-bar -->
<app-navbar></app-navbar>

<!-- router container -->
<router-outlet>
</router-outlet>

<!-- footer -->
<!-- <app-footer></app-footer> -->

<!-- demo code -->
<!-- <div class="bootstrap-wrapper">
	<div class="container">
		<div class="row justify-content-evenly">
			<div class="col-md-4">What is my name</div>
			<div class="col-md-4">My Name is jitendra</div>
		</div>
	</div>
</div> -->